<footer class="page-footer p-4 color-primary">
  <div class="row">
    <div class="col-md-6 col-12 text-white">
      <ul class="list-inline float-md-left">
        <li class="ml-2 list-inline-item"><a routerLink="home">Početna</a>
        </li>
        <li class="ml-2 list-inline-item"><a routerLink="products">Proizvodi</a>
        </li>
        <li class="ml-2 list-inline-item"><a routerLink="cart">Korpa</a>
        </li>
      </ul>
    </div>

    <div class="col-md-6 col-12">
      <p class="float-md-right text-white">Copyright &copy; 2020 Btechnology</p>
    </div>
  </div>
</footer>